@font-face {
    font-family: 'Proxima-Nova';
    src: url('../../assets/fonts/Proxima-Nova-Thin.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova';
    src: url('../../assets/fonts/Proxima-Nova-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova';
    src: url('../../assets/fonts/Proxima-Nova-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima-Nova';
    src: url('../../assets/fonts/Proxima-Nova-Extrabold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}