h1 {
    font-weight: 700;
    font-size: rem(50px);
    letter-spacing: 0.0035em;
    line-height: 54px;
}

h2 {
    font-weight: 700;
    font-size: rem(36px);
    letter-spacing: 0.0035em;
    line-height: 46px;
}

h3 {
    font-weight: 700;
    font-size: rem(28px);
    letter-spacing: 0.0035em;
    line-height: 32px;
}

h4 {
    font-weight: 700;
    font-size: rem(24px);
    letter-spacing: 0.0035em;
    line-height: 32px;
}

h5 {
    font-weight: 700;
    font-size: rem(18px);
    letter-spacing: 0.0035em;
    line-height: 24px;
}

h6 {
    font-weight: 700;
    font-size: rem(16px);
    letter-spacing: 0.0035em;
    line-height: 20px;
}

p {
    font-weight: 400;
    font-size: rem(18px);
    letter-spacing: 0.003em;
    line-height: 26px;
}