//BLUES
$oceanGradient: linear-gradient(142.66deg, #7756DB -44.96%, #3BF4DE 65.27%);
$blue-01: #120F18;
$blue-02: #27415C;
$blue-03: #5C9DDC;
$blue-04: #46D6DD;
$blue-05: #DDFFFF;

//Neutral & GRAY
$neutral-01: #B9B9B9;
$neutral-02: #EEEEEE;
$neutral-03: #FAFAFA;
$neutral-04: #FFFFFF;
