<footer class="footer">
    <div class="footer-content container">
        <div class="logo">
            <img src="assets/img/logo.svg" width="99px" height="58px">
        </div>
        <div class="categories">
            <div class="links links-one">
                <p class="category-title">Lorem ipsum</p>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
            </div>
            <div class="links links-two">
                <p class="category-title">Lorem ipsum</p>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
            </div>
            <div class="links links-rwo">
                <p class="category-title">Lorem ipsum</p>
                <p class="title">TITLE</p>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
            </div>
            <div class="links links-three">
                <p class="category-title"></p>
                <p class="title">TITLE</p>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
            </div>
            <div class="links links-four">
                <p class="category-title">Lorem ipsum</p>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
            </div>
            <div class="links links-five">
                <p class="category-title">Lorem ipsum</p>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
            </div>     
            <div class="links links-six">
                <p class="category-title">Lorem ipsum</p>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
                <a>Ejemplo</a>
            </div>    
        </div>
    </div>
    <div class="social container">
        © 2022
        <div class="social-icons">
            <img src="assets/img/icons/facebook.svg" alt="">
            <img src="assets/img/icons/twitter.svg" alt="">
            <img src="assets/img/icons/linkedin.svg" alt="">
            <img src="assets/img/icons/instagram.svg" alt="">

        </div>
    </div>
</footer>